In [9]:
import pandas as po
xl = po.read_excel("heart_rate.xlsx")
xl.head()

   Gender    Group  Heart Rate
0     NaN      NaN         NaN
1  Female  Runners       119.0
2     NaN      NaN         NaN
3  Female  Runners        84.0
4     NaN      NaN         NaN

In [10]:
xl.tail()

    Gender    Group  Heart Rate
511   Male  Runners       110.0
512    NaN      NaN         NaN
513   Male  Runners       101.0
514    NaN      NaN         NaN
515   Male  Runners       107.0